@model SoaWebsite.Web.Models.DeveloperSkill

@{
    ViewData["Title"] = "Delete";
}

<h2>DeleteSkill</h2>

<h3>Are you sure you want to delete this skill?</h3>
<div>
    <h4>Skill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Skill.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Skill.Name)
        </dd>
    </dl>
    
    <form asp-action="DeleteSkill">
        <div class="form-actions no-color">
            <input type="submit" value="DeleteSkill" class="btn btn-default" /> |
            <a asp-action="Edit" asp-route-id="@Model.DeveloperID">Back to Edit</a> 
        </div>
    </form>
</div>
