@{
    ViewData["Title"] = "About :";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This is an application that can be used to find and filter developers according to their skills</p>
