@{ ViewData["Title"] = "Home Page"; }



<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/blue.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Match up skills to specific developers
                    <a class="btn btn-default" asp-controller="Developers" asp-action="Index">
                        Start now !
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/pink.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    This application was developed by passionate people at C# academie !
                    <a class="btn btn-default" asp-controller="Home" asp-action="Contact">
                        Contact us
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Why?</h2>
        <ul>
            <li>Visualise the list of your developers/candidates </li>
            <li>Assign the right task for the right developer</li>
            <li>Find the candidate with skills more closely match the position.</li>
            <li>Avoiding the skills mismatch</li>
            <li>Filter the candidates </li>
            <li>Save time!</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>How to use :</h2>
        <ul>
            <li>Go to the skills menu and add inexisting skills</li>
            <li>Go to the developers menu and add all your candidates</li>
            <li>For each developper you can specify the list of skills</li>
            <li>Now you can view the list of developers with their skills</li>
            <li>Select some skills to create a filter</li>
            <li>Apply the filter to get the developers with those skills</li>
            <li>If you have any problem go to the contact menu and send us a message</li>
            <li>Good luck !!!</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Features</h2>
        <ul>
            <li>Managing a list of skills</li>
            <li>Managing a list of developers</li>
            <li>Find the developers with the specified skills</li>
            <li>That's all for now!</li>
        </ul>
    </div>
</div>